# Java:
target/
dependency-reduced-pom.xml

# JetBrains - IntelliJ:
.idea/
*.iml

# jQAssistant execution:
run/
test-project/
jqassistant/store/
jira-docker-data/

# Local debugging
local-jira-user.md